USE [school]
GO
/****** Object:  Table [dbo].[students]    Script Date: 1/29/2026 8:34:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[students](
	[id] [int] NOT NULL,
	[name] [nvarchar](100) NULL,
	[age] [int] NULL,
	[email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[students] ([id], [name], [age], [email]) VALUES (1, N'Nguyễn Văn A', 25, N'a2@gmail.com')
INSERT [dbo].[students] ([id], [name], [age], [email]) VALUES (2, N'Trần Thị B', 21, N'b@gmail.com')
INSERT [dbo].[students] ([id], [name], [age], [email]) VALUES (3, N'Lê Văn C', 19, N'c@gmail.com')
GO
